version: '3.8'

services:
  bot:
    build: .
    volumes:
      - .:/usr/src/app
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/nginx.crt:/etc/nginx/certs/nginx.crt
      - ./nginx/nginx.key:/etc/nginx/certs/nginx.key
    depends_on:
      - bot
    restart: unless-stopped
